<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gerenciador de Atendimentos</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styleNovoCliente.css">
    <script type="text/javascript" src="javascript/mainNovoCliente.js"></script>
</head>

<body>
    <h2>Cadastrar Cliente</h2>

    <form th:action="@{/novo-cliente}" th:object="${cliente}" method="post">
        <p> Nome: <input type="text" name="nome" th:field="*{nome}" th:placeholder="Nome" />
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome Error</span>
    
           CPF: <input type="text" name="cpf" th:field="*{cpf}" th:placeholder="CPF"/>
        <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}">CPF Error</span>

        RG: <input type="text" name="rg" th:field="*{rg.numRg}" th:placeholder="Rg" />
            <span th:if="${#fields.hasErrors('rg.numRg')}" th:errors="*{rg.numRg}">RG Error</span></p>

        <p> Endereço:</p> 
        <p> Logradouro: <input type="text" name="rua" th:field="*{endereco.logradouro}" th:placeholder="Rua" />
                Nº: <input type="text" name="numero" maxlength="5" th:field="*{endereco.numero}" th:placeholder="Numero"/></p>

        <p> Bairro: <input type="text" name="bairro" th:field="*{endereco.bairro}" th:placeholder="Bairro" />
            Cep: <input type="text" name="cep" th:field="*{endereco.cep}" th:placeholder="Cep" /></p>

        <p> Cidade: <input type="text" name="cidade" th:field="*{endereco.cidade}" th:placeholder="Cidade" />
            UF: <input type="text" name="uf" maxlength="2" th:field="*{endereco.uf}" th:placeholder="UF" /></p>

        <br/>

        <button type="submit">Adicionar</button>
    </form>

    <br>
    <a th:href="@{/clientes}">Carteira de Clientes</a>
</body>
</html>